<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Font Awesome -->
    <link rel="stylesheet"   th:href="@{/assets/plugins/fontawesome-free/css/all.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet"  th:href="@{/assets/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/editor/richtext.min.css}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/plugins/summernote/summernote-bs4.css}">
    <style>
        a.page-link.active {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
    </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Admin</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">

        <div class="card-body login-card-body">
            <p class="login-box-msg">Register a new Admin</p>

            <form th:action="@{/register/registerAdmin}" method="post" th:object="${userNew}">
                <div class="input-group mt-3">
                    <input type="email" th:field="*{username}" class="form-control" name="username" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>

                </div>
                <span th:each="err : ${#fields.errors('username')}" th:text="${err}" class="text-danger"  ></span>
                <div class="input-group mt-3">
                    <input type="email" th:field="*{email}" class="form-control" name="email" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span th:each="err : ${#fields.errors('email')}" th:text="${err}" class="text-danger"  ></span>

                <div class="input-group mt-3">
                    <input type="password" th:field="*{password}" class="form-control" name="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span th:each="err : ${#fields.errors('password')}" th:text="${err}" class="text-danger"  ></span><br>

                <div class="row">

                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <!-- /.social-auth-links -->
            <p class="mb-0">
                <a th:href="@{/login}" class="text-center">I already have a membership</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>


<!-- jQuery -->
<script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/assets/dist/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<!--<script th:src="@{assets/dist/js/demo.js}"></script>-->
<script th:src="@{/assets/dist/js/sweetalert2.all.min.js}"></script>
<script type="text/javascript">
    $(function () {
        if ([[${param.success != null}]]) {
            Swal.fire({
                title: '[[${param.success}]] success',
                text: "Please confirm to continue!",
                icon: 'success',
            });
        }
        if([[${param.error != null}]])
        {
            Swal.fire({
                title: '[[${param.error}]] error',
                text: "Please confirm to continue!",
                icon: 'error',
            });
        }
    })
</script>
</body>
</html>